<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.biencloud.smarthome.service.rest.mapper.CameraMapper" >
  <resultMap id="baseResult" type="com.biencloud.smarthome.service.rest.model.Camera" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="pwd" property="pwd" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="created_user" property="createdUser" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_user" property="updatedUser" jdbcType="VARCHAR" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="baseColumns" >
    id, uuid, name, pwd, type, status, created_user, created_time, updated_user, updated_time
  </sql>
  <select id="getForList" resultMap="baseResult" >
    select id, uuid, name, pwd, type, status, created_user, created_time, updated_user, 
    updated_time
    from t_camera
  </select>
  <select id="getForOne" resultMap="baseResult" parameterType="java.lang.Long" >
    select 
    <include refid="baseColumns" />
    from t_camera
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="delete" parameterType="java.lang.Long" >
    delete from t_camera
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.biencloud.smarthome.service.rest.model.Camera" useGeneratedKeys="true" keyProperty="id">
    insert into t_camera (id, uuid, name, 
      pwd, type, status, created_user, 
      created_time, updated_user, updated_time
      )
    values (#{id,jdbcType=BIGINT}, #{uuid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{pwd,jdbcType=VARCHAR}, #{type,jdbcType=CHAR}, #{status,jdbcType=CHAR}, #{createdUser,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{updatedUser,jdbcType=VARCHAR}, #{updatedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateOnActive" parameterType="com.biencloud.smarthome.service.rest.model.Camera" >
    update t_camera
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="createdUser != null" >
        created_user = #{createdUser,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedUser != null" >
        updated_user = #{updatedUser,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="update" parameterType="com.biencloud.smarthome.service.rest.model.Camera" >
    update t_camera
    set uuid = #{uuid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      type = #{type,jdbcType=CHAR},
      status = #{status,jdbcType=CHAR},
      created_user = #{createdUser,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_user = #{updatedUser,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="getByUuid" resultMap="baseResult" >
    select 
		<include refid="baseColumns" />
    from t_camera
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
</mapper>